service: auction-service

plugins:
  - serverless-pseudo-parameters
  - serverless-esbuild

provider:
  name: aws
  runtime: nodejs20.x
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  region: us-east-1

custom:
  esbuild:
    bundle: true
    minify: true
    sourcemap: true
    alias:
      '@': './src'

functions:
  hello:
    handler: src/presentation/handlers/create-auction.handler
    events:
      - http:
          method: POST
          path: /auction
